.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.form-item {
    display: flex;
    margin: 10px 0;
    flex-direction: row;
}

label {
    display: flex;
    flex: 1;
}

.form-checkbox {
    margin: 5px 0 0 5px;
}
.input-group-append {
    display: flex;
    justify-content: space-evenly;
}
