.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
}

.submit-form {
    max-width: 300px;
    margin: auto;
}

.edit-form {
    max-width: 300px;
    margin: auto;
}

.blocked {
    background-color: rgb(61, 10, 10);
    color: white;
}

.blocked.active {
    background-color: black;
}
